In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("unstructured_weather_10000_rows.csv")

In [3]:
df.head()

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm
2,2024-09-13 08:42:54,44.9,36.0,18.0,37.7,5.8,100.47,Haze
3,2022-10-21 08:38:02,-2.3,-4.6,27.0,55.0,10.5,100.20,Cloudy
4,2021-09-02 00:03:08,23.9,18.4,53.0,14.9,3.6,102.19,Rain

In [7]:
df.shape

(10000, 8)

In [8]:
df.index

RangeIndex(start=0, stop=10000, step=1)

In [9]:
df.columns

Index(['Date time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_KM/h', 'Visibility_Km', 'Press_KPA', 'Weather'],
      dtype='object')

In [10]:
df.dtypes

Date time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%           float64
Wind Speed_KM/h     float64
Visibility_Km       float64
Press_KPA           float64
Weather              object
dtype: object

In [11]:
df['Weather'].unique()

array(['Cloudy', 'Thunderstorm', 'Haze', 'Rain', 'Clear', 'Partly Cloudy',
       'Heavy Rain', 'Mist', 'Sunny', 'Snow', 'Fog'], dtype=object)

In [12]:
df.nunique()

Date time           9999
Temp_C               501
Dew Point Temp_C     593
Rel Hum_%             90
Wind Speed_KM/h      601
Visibility_Km        296
Press_KPA            501
Weather               11
dtype: int64

In [13]:
df.count()

Date time           10000
Temp_C               9700
Dew Point Temp_C    10000
Rel Hum_%            9700
Wind Speed_KM/h     10000
Visibility_Km        9700
Press_KPA           10000
Weather             10000
dtype: int64

In [14]:
df.isna().sum()

Date time             0
Temp_C              300
Dew Point Temp_C      0
Rel Hum_%           300
Wind Speed_KM/h       0
Visibility_Km       300
Press_KPA             0
Weather               0
dtype: int64

In [15]:
df['Temp_C'].fillna(df['Temp_C'].mean(), inplace=True)
df['Rel Hum_%'].fillna(df['Rel Hum_%'].mean(), inplace=True)
df['Visibility_Km'].fillna(df['Visibility_Km'].mean(), inplace=True)

In [16]:
df.isna().sum()

Date time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_KM/h     0
Visibility_Km       0
Press_KPA           0
Weather             0
dtype: int64

In [17]:
df['Visibility_Km'].mean()
df['Rel Hum_%'].var()

np.float64(647.8627581830348)

In [19]:
df['Weather'].value_counts()

Weather
Haze             946
Rain             946
Clear            943
Partly Cloudy    920
Sunny            909
Thunderstorm     906
Snow             903
Fog              897
Heavy Rain       890
Mist             889
Cloudy           851
Name: count, dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date time         10000 non-null  object
 1   Temp_C            10000 non-null  float64
 2   Dew Point Temp_C  10000 non-null  float64
 3   Rel Hum_%         10000 non-null  float64
 4   Wind Speed_KM/h   10000 non-null  float64
 5   Visibility_Km     10000 non-null  float64
 6   Press_KPA         10000 non-null  float64
 7   Weather           10000 non-null  object
dtypes: float64(6), object(2)
memory usage: 625.1+ KB

In [ ]:
# Q1) Find all the unique 'Wind Speed' values in the data.

In [22]:
df.head(2)

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm

In [24]:
df.nunique()

Date time           9999
Temp_C               502
Dew Point Temp_C     593
Rel Hum_%             91
Wind Speed_KM/h      601
Visibility_Km        297
Press_KPA            501
Weather               11
dtype: int64

In [25]:
df['Wind Speed_KM/h'].nunique()

601

In [26]:
df['Wind Speed_KM/h'].unique() # Answer

array([40. ,  4.7, 37.7, 55. , 14.9, 21.7, 13.9, 49.1, 10.1, 20.8, 36.1,
       24.3,  3.9, 56.9, 20.3, 26.7, 51.9, 17.5,  1.2, 19. , 59. ,  8.8,
        1.9, 34.7, 22.3, 47.7, 43.9, 11.1, 33.9, 26.4, 42.8, 24.9,  7.1,
        3.7, 51.2, 53.5, 20.6,  9.9, 58.7, 32.8, 28.6, 44.5, 34.8, 53.4,
        1.4, 40.4, 33.1, 57. , 15.5, 51.5, 18.5, 25.8, 12.8, 51.8, 11.7,
       27.3, 50.1, 15.9,  8. , 33.3, 30.6, 21.4, 39.8,  5.7, 37.3, 12.7,
        7.7, 54.6, 27.6, 45.8,  5.3,  3.4, 29.7, 18.9,  0.3, 11. , 13.1,
       17.3, 52.7, 25.2, 40.8,  1.1, 48.8, 14.4,  2.7, 24.6, 22.7, 54.5,
       52. , 18.3,  1.8, 45.9, 54.4, 46.2, 44.6, 50.6, 39.9, 25.4,  3.8,
       47.3, 54.3, 30.7, 32. , 24.2, 51.4,  0.9, 37.5,  6.2, 57.5, 58.1,
       55.8, 27.8, 23. , 42.4, 19.1,  4.1, 54.1, 38.1, 12.4, 43.4,  4.9,
       38.9, 17.8,  8.6, 28.9, 31. , 49.4, 29.1, 54. , 50.5, 39.1, 22.5,
       31.6, 16.9, 28.8,  7.8, 50.7, 57.9, 29. , 49.3, 42. , 23.9, 55.7,
       12.6, 24. , 56.4,  6.8,  7.9, 31.5, 32.2,  2.6, 57.2, 48.4, 18.2,
       20.7, 53.7, 21. ,  2. , 16.1, 35.7, 19.4, 52.2, 56.2, 26.5, 31.9,
       37.8,  3.2, 13.2, 35. , 45.7, 17.1, 48. , 38.4, 13.8, 27.9, 28. ,
       23.3, 53.6, 54.7, 21.3, 35.5, 57.8,  3.3,  2.4, 34.9, 43.5, 52.9,
       16.6, 22.9, 20.2, 50.4, 10.2,  1.7, 58.3, 58.8,  0.6, 38.8, 17.9,
       11.4, 37. , 33.8, 43.1, 53.1, 33.6,  9. , 35.9, 22.4, 27.2, 57.6,
       26.6, 13.7,  8.1, 42.7, 29.9, 19.3, 18. , 50.3, 47. , 39.4, 33.2,
        4.6, 37.1, 29.3, 45.5, 24.7, 59.1, 20. , 52.3, 23.7,  1.6, 41.6,
        4.3,  8.9, 17.4, 48.1, 56.8, 48.9, 59.9, 16.4, 33.4, 19.9, 30.4,
        9.8, 42.6, 52.6, 58.6, 30.1, 15.8,  5.2, 29.5,  3. , 30.2, 15.2,
       25.1, 26.9, 28.4, 50. , 26. , 45.3,  4.5,  9.2, 26.1, 30.3, 51.1,
       25.7, 14.5,  7.3,  8.5, 31.2, 23.5, 45.2, 23.2, 53. , 46.5, 11.3,
       34.3, 36.8, 44. , 41.1, 25.3, 16.3, 17.2, 41.9, 11.2, 51. ,  0. ,
       55.5, 10.3, 56.6, 16. , 48.3,  6. , 39.3,  6.6, 10.7, 56.3, 44.3,
       14.6,  7.4, 21.1,  7.2, 32.1, 38. ,  9.1, 44.9, 55.2, 27.7, 28.2,
       16.2, 19.7, 50.8, 52.1, 20.4, 55.3, 49.2, 40.2, 59.3,  1. ,  9.5,
       40.1,  0.8, 28.7, 53.8, 35.8,  9.7, 12.1, 45. ,  5.4, 10.5, 20.9,
       47.9, 39.2, 19.5,  5.9, 15.3, 43.3,  8.2, 49.7, 47.5, 42.1, 57.4,
       30. , 18.4, 41.5, 40.9, 44.2, 13.3, 37.2, 32.9, 41.7, 18.7, 13. ,
       21.6,  4. , 46.4, 42.9, 43. , 17.7, 51.7, 11.8, 58.2, 53.3, 31.7,
       21.9, 38.2, 31.1, 35.1, 30.5, 53.2, 36.6, 48.2, 48.6, 34. , 12.3,
       57.3, 22.8, 30.9,  2.3,  8.7,  2.1,  2.9, 36.9, 29.8, 27.4, 54.9,
       59.7, 51.3, 36.5, 55.1,  1.5, 55.9, 34.1, 59.4, 47.6, 28.3, 41.4,
       54.8, 58.5,  0.5, 56. ,  3.1, 46. ,  4.8, 53.9,  6.9, 23.6,  5. ,
       16.5,  5.5, 14. , 49. , 49.5, 12.2,  5.1, 26.3, 15.6, 50.9, 13.5,
       36.7, 52.5, 35.6, 33.7, 36.3, 59.6, 10.9,  3.6, 37.4, 12.5,  6.5,
       32.6,  5.8,  9.3, 45.4, 38.5, 34.5, 43.2, 24.4, 22.6, 55.6, 17.6,
        4.2,  0.2,  9.4, 23.4, 40.3, 18.8, 32.4,  6.3, 44.8,  8.3,  8.4,
       14.2, 24.1,  2.2, 25. , 16.7,  6.7, 10.8, 36.4, 42.3, 47.8, 29.4,
       45.1,  6.1, 33.5, 56.1, 37.9, 19.6, 37.6, 39.7, 27.5, 31.8, 44.1,
       32.3, 59.8, 23.8, 25.9, 59.5, 58.9, 34.2, 39.5, 18.1, 51.6, 19.2,
       49.8, 60. , 47.1, 40.7, 44.7,  5.6, 40.6,  2.8, 30.8,  9.6,  1.3,
       33. , 31.4, 10.4, 21.8, 22. , 32.5, 29.6, 42.5, 47.2, 38.6, 23.1,
       13.6,  7. , 55.4, 18.6, 15.7, 14.7, 36.2, 58.4, 25.6, 46.1, 26.2,
       59.2, 20.1, 14.8, 46.8, 34.4, 38.3, 41.3, 45.6,  0.7,  3.5, 54.2,
       56.7, 57.1,  2.5, 11.9, 14.1, 19.8, 35.3, 27. , 57.7, 48.7, 21.2,
       20.5,  0.4,  7.6, 47.4,  6.4, 26.8, 38.7, 35.4, 41. , 43.8, 22.2,
       50.2, 15.1, 46.6, 43.7, 16.8, 31.3, 32.7,  0.1, 34.6, 28.5,  7.5,
       10. , 15.4, 52.4, 24.8, 15. , 39. , 11.6, 12. , 35.2, 49.6, 28.1,
       49.9, 42.2, 24.5, 41.8, 46.9, 46.3, 10.6, 56.5, 11.5, 27.1, 22.1,
       29.2, 12.9, 25.5, 58. , 14.3, 13.4,  4.4, 17. , 52.8, 43.6, 46.7,
       36. , 39.6, 40.5, 48.5, 21.5, 41.2, 44.4])

In [29]:
# Q. 2) Find the number of times when the 'Weather is exactly Clear'.

In [30]:
df.head(2)

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm

In [32]:
df.Weather.value_counts()

Weather
Haze             946
Rain             946
Clear            943
Partly Cloudy    920
Sunny            909
Thunderstorm     906
Snow             903
Fog              897
Heavy Rain       890
Mist             889
Cloudy           851
Name: count, dtype: int64

In [34]:
(df['Weather'] == 'Clear').sum() # Answer

np.int64(943)

In [35]:
# Q. 3) Find the number of times when the 'Wind Speed was exactly 4 km/h'.

In [36]:
df.head(2)

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm

In [37]:
(df['Wind Speed_KM/h'] == 4).sum() # Answer

np.int64(16)

In [38]:
df[df['Wind Speed_KM/h'] == 4]

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather
539,2021-08-22 06:06:13,17.8,17.0,60.0,4.0,26.2,99.33,Cloudy
1059,2024-10-31 09:31:18,25.0,24.3,95.0,4.0,18.6,102.91,Cloudy
1972,2024-12-09 11:20:44,19.6,10.8,12.0,4.0,24.5,102.05,Snow
3066,2023-09-02 11:25:03,11.7,11.6,66.0,4.0,24.7,101.03,Haze
3409,2023-01-18 23:05:35,3.8,-4.7,22.0,4.0,11.3,100.19,Mist
4031,2023-02-22 21:34:58,38.8,38.0,65.0,4.0,28.6,102.90,Rain
4574,2022-06-07 13:11:08,0.0,-7.4,17.0,4.0,28.6,99.15,Mist
5151,2023-02-25 13:38:49,35.3,33.3,42.0,4.0,24.0,102.96,Cloudy
5526,2022-08-06 00:56:15,39.5,37.3,77.0,4.0,19.9,102.70,Snow
5730,2023-04-15 15:10:25,1.7,-0.5,65.0,4.0,22.5,99.45,Rain
6410,2021-05-04 16:36:02,5.4,-4.5,55.0,4.0,28.7,100.51,Sunny
6851,2023-10-23 02:48:13,-3.0,-5.2,71.0,4.0,17.7,99.08,Clear
7228,2021-10-02 18:50:19,38.1,34.2,23.0,4.0,17.9,100.62,Snow
7627,2022-05-23 17:13:42,39.2,35.8,28.0,4.0,14.4,102.76,Heavy Rain
8317,2024-02-07 11:33:09,25.6,23.2,40.0,4.0,3.6,100.79,Rain
9278,2021-11-17 21:41:36,44.5,43.2,58.0,4.0,3.6,98.95,Fog

In [39]:
# Q. 4) Find out all the Null Values in the data.

In [40]:
df.isna().sum() #Answer

Date time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_KM/h     0
Visibility_Km       0
Press_KPA           0
Weather             0
dtype: int64

In [41]:
# Q. 5) Rename the column name 'Weather' of the dataframe to 'Weather Condition'.

In [42]:
df.head(2)

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm

In [43]:
df.rename(columns={'Weather': 'Weather Condition'}, inplace=True) # Answer

In [44]:
df.head()

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm
2,2024-09-13 08:42:54,44.9,36.0,18.0,37.7,5.8,100.47,Haze
3,2022-10-21 08:38:02,-2.3,-4.6,27.0,55.0,10.5,100.20,Cloudy
4,2021-09-02 00:03:08,23.9,18.4,53.0,14.9,3.6,102.19,Rain

In [45]:
# Q. 6) What is the mean 'Visibility' ?

In [46]:
df['Visibility_Km'].mean() # Answer

np.float64(15.327969072164947)

In [47]:
# Q. 7) What is the Standard Deviation of 'Pressure'  in this data?

In [49]:
df.Press_KPA.std() # Answer

np.float64(1.4423158965613418)

In [50]:
# Q. 8) What is the Variance of 'Relative Humidity' in this data ?

In [51]:
df['Rel Hum_%'].var # Answer

np.float64(647.8627581830348)

In [52]:
# Q. 9) Find all instances when 'Snow' was recorded.

In [53]:
df.head(2)

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm

In [54]:
snow_df = df[df['Weather Condition'] == 'Snow']
snow_df # Answer

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
34,2022-05-12 01:34:40,15.3,7.6,30.0,7.1,23.100000,99.85,Snow
35,2024-05-16 13:19:22,3.5,-2.5,56.0,3.7,19.300000,99.61,Snow
36,2023-06-19 21:35:54,43.9,34.6,12.0,51.2,17.200000,102.43,Snow
37,2024-05-20 20:18:06,37.7,33.7,39.0,53.5,9.900000,102.27,Snow
66,2022-06-02 19:22:33,43.3,40.8,52.0,39.8,15.400000,98.13,Snow
...,...,...,...,...,...,...,...,...
9959,2021-04-22 22:08:35,41.8,36.3,74.0,51.3,3.400000,102.00,Snow
9960,2022-06-07 14:45:52,37.4,34.1,22.0,28.8,13.100000,100.15,Snow
9962,2022-08-15 01:11:41,17.5,14.7,83.0,37.9,3.500000,100.71,Snow
9964,2023-06-29 22:06:24,32.1,29.9,85.0,1.5,9.300000,98.00,Snow
9991,2023-02-07 13:46:00,3.1,-4.0,99.0,28.6,15.327969,98.09,Snow

In [56]:
# Q. 10) Find all instances when 'Wind Speed is above 24' and 'Visibility is 25'.

In [57]:
q10_df = df[
    (df['Wind Speed_KM/h'] > 24) &
    (df['Visibility_Km'] == 25)
]
q10_df # Answer

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
104,2022-11-29 23:17:34,23.8,18.1,73.000000,39.9,25.0,102.99,Clear
395,2023-05-20 02:58:25,4.4,4.2,94.000000,52.2,25.0,98.81,Sunny
1365,2023-01-05 08:07:35,13.6,10.6,14.000000,30.3,25.0,99.63,Heavy Rain
1590,2021-07-09 21:06:06,43.9,37.3,61.000000,48.4,25.0,102.07,Clear
2360,2022-10-10 11:06:13,21.5,13.8,97.000000,28.0,25.0,101.97,Sunny
2889,2023-02-18 18:01:15,3.7,0.9,18.000000,53.1,25.0,102.75,Cloudy
3518,2023-09-04 12:21:34,-2.5,-5.0,78.000000,31.3,25.0,98.45,Cloudy
4127,2023-11-16 02:27:10,11.2,9.3,57.000000,41.0,25.0,102.45,Rain
4575,2021-04-10 00:44:15,30.9,28.2,35.000000,34.5,25.0,102.54,Thunderstorm
4684,2022-07-15 12:08:42,38.3,30.9,10.000000,28.4,25.0,99.12,Haze
6280,2021-09-15 01:30:17,36.8,28.1,30.000000,44.4,25.0,101.75,Heavy Rain
6487,2021-01-18 20:50:12,-3.5,-5.0,55.000000,42.8,25.0,100.93,Partly Cloudy
6670,2024-01-18 05:09:19,2.8,-1.0,14.000000,29.0,25.0,102.03,Clear
7003,2024-10-19 08:16:57,5.0,-0.8,14.000000,49.5,25.0,100.72,Fog
7250,2021-01-02 09:53:39,35.6,25.8,87.000000,42.1,25.0,102.76,Clear
7379,2022-08-26 10:54:52,19.4,18.6,54.639691,28.9,25.0,99.03,Fog
7739,2024-06-20 03:15:25,34.8,29.6,65.000000,48.9,25.0,98.06,Rain
8780,2024-02-17 22:21:47,31.8,25.6,67.000000,59.1,25.0,101.15,Heavy Rain
9026,2022-07-26 03:37:36,16.2,14.4,15.000000,45.9,25.0,98.79,Mist

In [58]:
df[(df['Wind Speed_KM/h'] > 24) & (df['Visibility_Km'] == 25)]

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
104,2022-11-29 23:17:34,23.8,18.1,73.000000,39.9,25.0,102.99,Clear
395,2023-05-20 02:58:25,4.4,4.2,94.000000,52.2,25.0,98.81,Sunny
1365,2023-01-05 08:07:35,13.6,10.6,14.000000,30.3,25.0,99.63,Heavy Rain
1590,2021-07-09 21:06:06,43.9,37.3,61.000000,48.4,25.0,102.07,Clear
2360,2022-10-10 11:06:13,21.5,13.8,97.000000,28.0,25.0,101.97,Sunny
2889,2023-02-18 18:01:15,3.7,0.9,18.000000,53.1,25.0,102.75,Cloudy
3518,2023-09-04 12:21:34,-2.5,-5.0,78.000000,31.3,25.0,98.45,Cloudy
4127,2023-11-16 02:27:10,11.2,9.3,57.000000,41.0,25.0,102.45,Rain
4575,2021-04-10 00:44:15,30.9,28.2,35.000000,34.5,25.0,102.54,Thunderstorm
4684,2022-07-15 12:08:42,38.3,30.9,10.000000,28.4,25.0,99.12,Haze
6280,2021-09-15 01:30:17,36.8,28.1,30.000000,44.4,25.0,101.75,Heavy Rain
6487,2021-01-18 20:50:12,-3.5,-5.0,55.000000,42.8,25.0,100.93,Partly Cloudy
6670,2024-01-18 05:09:19,2.8,-1.0,14.000000,29.0,25.0,102.03,Clear
7003,2024-10-19 08:16:57,5.0,-0.8,14.000000,49.5,25.0,100.72,Fog
7250,2021-01-02 09:53:39,35.6,25.8,87.000000,42.1,25.0,102.76,Clear
7379,2022-08-26 10:54:52,19.4,18.6,54.639691,28.9,25.0,99.03,Fog
7739,2024-06-20 03:15:25,34.8,29.6,65.000000,48.9,25.0,98.06,Rain
8780,2024-02-17 22:21:47,31.8,25.6,67.000000,59.1,25.0,101.15,Heavy Rain
9026,2022-07-26 03:37:36,16.2,14.4,15.000000,45.9,25.0,98.79,Mist

In [59]:
q10_df.shape[0] # Answer

19

In [60]:
# Q. 11) What is the Mean value of each column against each 'Weather Condition ?

In [61]:
df.head(2)

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
0,2023-01-31 05:14:27,9.0,1.5,44.0,40.0,8.7,101.89,Cloudy
1,2022-10-19 21:17:16,15.2,14.7,64.0,4.7,14.3,102.18,Thunderstorm

In [62]:
df.groupby('Weather Condition').mean(numeric_only=True) # Answer

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA
Weather Condition,,,,,,
Clear,19.846419,14.686850,55.606949,29.523436,15.266879,100.564804
Cloudy,20.432232,15.199530,55.215455,30.191304,15.612714,100.507720
Fog,19.607892,14.622742,53.622507,30.764326,15.503531,100.547213
Haze,19.941228,14.658034,54.278766,29.328330,15.180676,100.520814
Heavy Rain,20.232203,15.125281,54.892663,29.804719,15.224300,100.522899
Mist,20.110610,15.015411,55.021455,28.940607,15.224228,100.487852
Partly Cloudy,20.175552,15.014348,52.543901,30.389130,15.380364,100.498098
Rain,19.461127,14.579810,54.881342,30.837844,15.199889,100.570867
Snow,19.150077,13.980731,55.335320,30.419158,15.402201,100.497076
Sunny,19.864327,14.745215,55.458737,29.349945,15.266507,100.459395
Thunderstorm,19.544782,14.405629,54.213722,29.275938,15.375915,100.540563

In [63]:
# Q. 12) What is the Minimum & Maximum value of each column against each 'Weather Condition ?

In [64]:
df.groupby('Weather Condition').min(numeric_only=True) # minimm values answer

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA
Weather Condition,,,,,,
Clear,-5.0,-13.6,10.0,0.0,0.6,98.00
Cloudy,-5.0,-13.3,10.0,0.1,0.5,98.00
Fog,-5.0,-14.4,10.0,0.1,0.5,98.00
Haze,-5.0,-14.2,10.0,0.0,0.7,98.00
Heavy Rain,-5.0,-14.2,10.0,0.0,0.5,98.01
Mist,-5.0,-13.7,10.0,0.0,0.5,98.01
Partly Cloudy,-5.0,-14.1,10.0,0.1,0.5,98.01
Rain,-4.8,-13.5,10.0,0.0,0.6,98.01
Snow,-4.8,-14.6,10.0,0.0,0.6,98.00
Sunny,-5.0,-13.6,10.0,0.0,0.5,98.00
Thunderstorm,-4.9,-13.4,10.0,0.1,0.5,98.01

In [65]:
df.groupby('Weather Condition').max(numeric_only=True) # maximum values answer

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA
Weather Condition,,,,,,
Clear,45.0,44.5,99.0,60.0,30.0,102.99
Cloudy,45.0,43.6,99.0,59.9,30.0,102.99
Fog,45.0,44.2,99.0,60.0,30.0,102.98
Haze,44.9,44.3,99.0,60.0,30.0,103.00
Heavy Rain,45.0,44.8,99.0,59.9,30.0,102.99
Mist,44.9,43.8,99.0,59.9,30.0,103.00
Partly Cloudy,44.9,44.6,99.0,60.0,30.0,102.99
Rain,45.0,44.5,99.0,59.9,30.0,102.99
Snow,45.0,44.9,99.0,60.0,30.0,103.00
Sunny,44.9,43.7,99.0,59.9,29.8,102.99
Thunderstorm,44.9,44.1,99.0,60.0,30.0,103.00

In [66]:
# Q. 13) Show all the Records where Weather Condition is Fog.

In [67]:
fog_df = df[df['Weather Condition'] == 'Fog']
fog_df # answer

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
45,2024-10-29 04:17:01,25.6,17.0,85.000000,34.8,27.9,98.95,Fog
60,2022-10-22 09:42:41,20.2,17.0,80.000000,50.1,23.0,101.77,Fog
71,2024-10-23 01:03:15,38.4,35.5,10.000000,54.6,18.9,100.10,Fog
87,2023-07-29 19:35:25,11.0,7.8,23.000000,14.4,16.0,100.61,Fog
97,2021-04-10 08:49:37,19.6,14.8,29.000000,54.6,5.2,98.15,Fog
...,...,...,...,...,...,...,...,...
9989,2023-03-10 02:03:17,44.7,36.5,51.000000,48.2,14.8,102.10,Fog
9990,2024-11-27 09:39:01,29.9,28.5,15.000000,5.2,12.1,100.08,Fog
9993,2022-09-25 08:40:36,3.6,-2.2,92.000000,27.2,9.0,98.97,Fog
9998,2021-03-06 15:16:21,24.3,19.2,80.000000,8.3,24.1,100.37,Fog
9999,2022-12-29 22:52:40,34.1,33.4,54.639691,9.6,16.5,100.38,Fog

In [68]:
# Q. 14) Find all instances when 'Weather is Clear' or 'Visibility is above 40'.

In [69]:
q14_df = df[
    (df['Weather Condition'] == 'Clear') |
    (df['Visibility_Km'] > 40)
]
q14_df # Answer

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
5,2021-06-04 02:38:12,-0.9,-7.3,30.0,21.7,13.200000,102.30,Clear
7,2021-11-06 10:37:10,17.0,7.2,57.0,49.1,18.100000,102.54,Clear
12,2022-01-02 02:48:03,10.2,3.2,67.0,3.9,11.400000,99.52,Clear
30,2024-05-15 15:34:45,44.8,39.9,44.0,1.9,23.100000,101.67,Clear
32,2024-07-01 07:21:15,21.9,12.7,58.0,42.8,23.900000,102.63,Clear
...,...,...,...,...,...,...,...,...
9963,2023-02-23 05:30:31,21.8,21.7,35.0,32.0,13.400000,99.09,Clear
9971,2021-02-13 10:05:31,29.9,22.1,86.0,47.4,15.327969,101.91,Clear
9987,2023-08-16 06:57:55,37.5,32.9,81.0,18.9,23.700000,101.73,Clear
9988,2023-02-01 19:12:19,-1.6,-8.8,85.0,53.8,7.000000,99.28,Clear
9994,2023-06-05 13:17:43,36.9,35.0,91.0,56.0,14.900000,100.33,Clear

In [70]:
q14_df.shape[0] # Answer

943

In [72]:
# Q. 15) Find all instances when :
# A. 'Weather is Clear' and 'Relative Humidity is greater than 50'
# or
# B. 'Visibility is above 40'

In [73]:
q15_df = df[
    ((df['Weather Condition'] == 'Clear') & (df['Rel Hum_%'] > 50)) |
    (df['Visibility_Km'] > 40)
]
q15_df

,Date time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_KM/h,Visibility_Km,Press_KPA,Weather Condition
7,2021-11-06 10:37:10,17.0,7.2,57.0,49.1,18.100000,102.54,Clear
12,2022-01-02 02:48:03,10.2,3.2,67.0,3.9,11.400000,99.52,Clear
32,2024-07-01 07:21:15,21.9,12.7,58.0,42.8,23.900000,102.63,Clear
75,2024-11-07 05:10:30,-0.4,-4.1,93.0,3.4,12.600000,100.22,Clear
76,2023-03-19 15:00:59,17.9,9.9,89.0,29.7,22.100000,100.75,Clear
...,...,...,...,...,...,...,...,...
9945,2022-02-08 05:51:16,4.1,-1.6,81.0,48.1,8.000000,99.27,Clear
9971,2021-02-13 10:05:31,29.9,22.1,86.0,47.4,15.327969,101.91,Clear
9987,2023-08-16 06:57:55,37.5,32.9,81.0,18.9,23.700000,101.73,Clear
9988,2023-02-01 19:12:19,-1.6,-8.8,85.0,53.8,7.000000,99.28,Clear
9994,2023-06-05 13:17:43,36.9,35.0,91.0,56.0,14.900000,100.33,Clear

In [74]:
q15_df.shape[0]

537